%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name),  :html => {:class => "form-horizontal" }) do |f|
	=devise_error_messages!
	%div.form-group
		=f.label :firstName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :firstName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :lastName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :lastName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :email, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.email_field :email, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :password, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :password_confirmation, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.password_field :password_confirmation, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :userName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :userName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :streetAddress, {:class => 'col-lg-2 control-label'}
		%duv.col-lg-3
			=f.text_field :streetAddress, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :city, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :city, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :town, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :town, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :contactNumber, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :contactNumber, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :secContactNumber, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :secContactNumber, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :userType, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :userType, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :organization, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :organization, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=f.label :user_id, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=f.text_field :user_id, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => "btn btn-primary", :value => "Sign Up"


=render "devise/shared/links"
