%br
%br
%br
%br
%div.jumbotron
	%div.container
		%h1 
			Sorry!
		%p 
			Your account is awaiting approval. Your resquest is pending.
		%p  
			=link_to "Contact Us", "admin@admin.com", :class => "btn btn-primary"