%h1 Your account is not approved
%br
%br
%div.jumbotron
	%div.container
		%h3
			Sorry!
		%p 
			Your account is awaiting approval. Your resquest is pending.
		%p  
			="Contact Us"
			=mail_to ENV['CONTACT_EMAIL']