%br
%br
%br
%div.jumbotron
	%div.container
		%h3 
			Welcome to whichBUS!

		-if(admin_signed_in?)
			-if(current_admin.approved? and current_admin.type == 'Admin')
				=link_to "Add Bus Stop", busstop_new_path, :class => "btn btn-primary"
				=link_to "Add Route", route_new_path, :class => "btn btn-primary"
			-else
				%p
					Please wait for your account to be approved.
			-if(current_admin.type == 'Company')
				=link_to "See Routes for your company", company_showAll_path, :class => "btn btn-primary"
		-else
			=link_to "Login", new_admin_session_path, :class => "btn btn-primary"
			=link_to "signUp", new_admin_registration_path, :class => "btn btn-primary"