-if @editBusstop.blank?
	="No Bus Stop Found"
-else
	%h1= "Edit Bus Stop: #{@editBusstop.busStopName}"
	=form_for :busstop, url:{action: "update"}, html:{class: "form-horizontal"} do |f|
		%div.form-group
			=f.label :busStopName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :busStopName, {:class => 'form-control', :value => @editBusstop.busStopName}
		%div.form-group
			=f.label :busStopLatLong, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :busStopLatLong, {:class => 'form-control', :value => @editBusstop.busStopLatLong}
		%div.form-group
			=f.label :busStopSecName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :busStopSecName, {:class => 'form-control', :value => @editBusstop.busStopSecName}
		%div.form-group
			%div.col-lg-offset-2.col-lg-10
				=f.submit :class => 'btn btn-default'
	
