-if @editBusstop.blank?
	="No Bus Stop Found"
-else
	%h1
		Edit Bus Stop: 
		%span.label.label-info
			="#{@editBusstop.busStopName}"
	-@editBusstop.errors.full_messages
	%br
	=form_for :busstop, url:{action: "update"}, html:{class: "form-horizontal"} do |f|
		%div.form-group
			=f.label :busStopName, "Bus Stop Name" ,{:class => 'col-lg-2 control-label'}
			%span.error-message
				- if not (@editBusstop.errors[:busStopName].blank?)
					=@editBusstop.errors[:busStopName].to_s
			%div.col-lg-3
				=f.text_field :busStopName, {:class => 'form-control', :value => @editBusstop.busStopName}
		%div.form-group
			=f.label :busStopLatLong, "Bus Stop LatLong" ,{:class => 'col-lg-2 control-label'}
			%span.error-message
				- if not (@editBusstop.errors[:busStopLatLong].blank?)
					=@editBusstop.errors[:busStopLatLong].to_s
			%div.col-lg-3
				=f.text_field :busStopLatLong, {:class => 'form-control', :value => @editBusstop.busStopLatLong}
		%div.form-group
			=f.label :busStopSecName, "Bus Stop Secondary Name" ,{:class => 'col-lg-2 control-label'}
			%span.error-message
				- if not (@editBusstop.errors[:busStopSecName].blank?)
					=@editBusstop.errors[:busStopSecName].to_s
			%div.col-lg-3
				=f.text_field :busStopSecName, {:class => 'form-control', :value => @editBusstop.busStopSecName}
		%div.form-group
			%div.col-lg-offset-2.col-lg-10
				=f.submit :class => 'btn btn-primary'
	
