%h3 Viewing Busstops

- if @busstop.blank?
	%p There is no bus stop currently exist
-else
	%p These are the bus stops
	%table.table.table-hover.table-condensed
		%tr
			%th
				Bus Stop Name
			%th
				Bus Stop LatLong
			%th
				Bus Stop Secondary Name
			%th
				Options
		%tr
			%td
				=@busstop.busStopName
			%td
				=@busstop.busStopLatLong
			%td
				=@busstop.busStopSecName
			%td
				= link_to busstop_delete_path, method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :span, class: "glyphicon glyphicon-remove" do
						=""
%br



