%h3 Bus-Stop details
%br
=link_to 'Show All Bus Stop', busstop_showAll_path, :class => "btn btn-primary" 
%br
- if @busstop.blank?
	%p There is no bus stop currently exist
-else
	%br
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				Bus Stop Name
			%th.text-center
				Options
		%tr
			%td
				=@busstop.busStopName
			%td
				= link_to busstop_delete_path, method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :button, :class => "btn btn-danger" do
						= content_tag :span, class: "glyphicon glyphicon-remove" do
							=""
%br



