
-if @editRoute.blank?
	="No such Route Found."
-else
	%h1= "Edit Route: #{@editRoute.routeName}"
	=form_for :route, url:{action: "update"}, html:{class: "form-horizontal"} do |f|
		%div.form-group
			=f.label :routeName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeName,{:class => 'form-control', :value => @editRoute.routeName}
		%div.form-group
			=f.label :routeSourceName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeSourceName, {:class => 'form-control', :value => @editRoute.routeSourceName}
		%div.form-group
			=f.label :routeDestName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeDestName, {:class => 'form-control', :value => @editRoute.routeDestName}
		%div.form-group
			=f.label :routeDistance, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3	
				=f.text_field :routeDistance, {:class => 'form-control', :value => @editRoute.routeDistance}
		%div.form-group
			=f.label :routeSourceLatLong, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeSourceLatLong, {:class => 'form-control', :value => @editRoute.routeSourceLatLong}
		%div.form-group
			=f.label :routeDestLatLong, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeDestLatLong, {:class => 'form-control', :value => @editRoute.routeDestLatLong}
		%div.form-group
			=f.label :routeTravelTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeTravelTime, {:class => 'form-control', :value => @editRoute.routeTravelTime}
		%div.form-group
			=f.label :routeStartTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeStartTime, {:class => 'form-control', :value => @editRoute.routeStartTime}
		%div.form-group
			=f.label :routeStopTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeStopTime, {:class => 'form-control', :value => @editRoute.routeStopTime}
		%div.form-group
			%div.col-lg-offset-2.col-lg-10
				=f.submit :class => 'btn btn-default'
				%button.btn.btn-default{:type => 'button'}
					="Cancel"


