<html lang="en">
<head>
  
</head>
<body>
 
	<table>
	    <tr>
	        <td>Item One</td>
	        <td>
	            <button class="change-rank" data-direction="up">&#9650;</button>
	            <button class="change-rank" data-direction="down">&#9660;</button>
	        </td>
	    </tr>
	    <tr>
	        <td>Item Two</td>
	        <td>
	            <button class="change-rank" data-direction="up">&#9650;</button>
	            <button class="change-rank" data-direction="down">&#9660;</button>
	        </td>
	    </tr>
	    <tr>
	        <td>Item Three</td>
	        <td>
	            <button class="change-rank" data-direction="up">&#9650;</button>
	            <button class="change-rank" data-direction="down">&#9660;</button>
	        </td>
	    </tr>
	</table>
 
 
</body>
</html>