%h1 Add Route
=form_for :route, url:{action: "createRoute"}, html:{class: "form-horizontal"} do |f|
	%div.form-group
		=f.label :routeName, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeName].blank?)
				=@route.errors[:routeName].to_s
		%div.col-lg-3
			=f.text_field :routeName, {:class => 'form-control'}
	%div.form-group
		=f.label :routeSourceName, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeSourceName].blank?)
				=@route.errors[:routeSourceName].to_s
		%div.col-lg-3
			=f.text_field :routeSourceName, {:class => 'form-control'}
	%div.form-group
		=f.label :routeDestName, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeDestName].blank?)
				=@route.errors[:routeDestName].to_s
		%div.col-lg-3
			=f.text_field :routeDestName, {:class => 'form-control'}
	%div.form-group
		=f.label :routeDistance, 'Route Distance in KM' , {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeDistance].blank?)
				=@route.errors[:routeDistance].to_s
		%div.col-lg-3	
			=f.text_field :routeDistance, {:class => 'form-control'}
	%div.form-group
		=f.label :routeTravelTime, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeTravelTime].blank?)
				=@route.errors[:routeTravelTime].to_s
		%div.col-lg-3
			=f.text_field :routeTravelTime, {:class => 'form-control'}
	%div.form-group
		=f.label :routeSourceLatLong, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeSourceLatLong].blank?)
				=@route.errors[:routeSourceLatLong].to_s
		%div.col-lg-3
			=f.text_field :routeSourceLatLong, {:class => 'form-control'}
	%div.form-group
		=f.label :routeDestLatLong, {:class => 'col-lg-2 control-label'}
		%span.error_message
			- if not (@route.errors[:routeDestLatLong].blank?)
				=@route.errors[:routeDestLatLong].to_s
		%div.col-lg-3
			=f.text_field :routeDestLatLong, {:class => 'form-control'}
	%div.form-group
		=f.label :routeStartTime, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			= f.time_field :routeStartTime, {:class => 'form-control'}
	%div.form-group
		=f.label :routeStopTime, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			= f.time_field :routeStopTime, {:class => 'form-control'}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=f.submit :class => 'btn btn-primary'
			= link_to route_showAll_path do
				= content_tag :button, class: "btn btn-default" do
					="Cancel"
			
	
