
%br
%br
%br
=link_to "Show all routes", route_showAll_path, :class => "btn btn-primary"
=link_to "Edit This Route",  route_edit_route_properties_path(@route.id), :class => "btn btn-primary"
-if @busStops.blank?
	%h4 Route Empty
-else
	
	%h3 List of Bus-Stops on Route
	%h4= "Showing route details for: \'#{@route.routeName}\'"
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center 
				Bus Stop Name
		-@busStops.each do |b|
			-if(b.nil?)
				%tr
					%td
						%p Empty Object
					%td
					%td
			-else
				%tr
					%td
						=link_to b.busStopName, busstop_view_path(b.id)
 
