%h1= "Showing Route Details For#{@routeBusStops.routeName}"
-if @busStops.blank?
	%h3 No Route Added
-else
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center 
				Bus Stop Name
			%th.text-center
				Bus Stop Lat Long
			%th.text-center
				Bus Stop Sec Name
		-@busStops.each do |b|
			%tr
				%td
					@busStops.busStopName
				%td
					@busStops.busStopLatLong
				%td
					@busStops.busStopSecName

 
