%br
%h3= "Showing route details for: \'#{@route.routeName}\'"
%br
=link_to "Show all routes", route_showAll_path, :class => "btn btn-primary"
=link_to "Edit Route Properties",  route_edit_route_properties_path(@route.id), :class => "btn btn-primary"
=link_to "Add Busstop to This Route", route_show_edit_route_path(@route.id), :class => "btn btn-primary"
%br
-if @busStops.blank?
	%h3 Route Empty
-else
	%br
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center 
				Bus Stop Name
		-@busStops.each do |b|
			-if(b.nil?)
				%tr
					%td
						%p Empty Object
					%td
					%td
			-else
				%tr
					%td
						=b.busStopName
 
