%h3 Resend confirmation instructions

=form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
	=devise_error_messages!
		%div.form-group
			=f.label :email, 'Email', :class => 'col-lg-2 control-label'}
			%div.col-lg-3
  				=f.email_field :email, {:class => 'form-control', :id => 'inputEmail'}
		%div.form-group
			%div.col-lg-offset-2.col-lg-10
				=f.submit :class => "btn btn-primary", :value => "Resend confirmation instructions"
	= render "devise/shared/links"
