-if(flash[:notice].blank? == false)
	%div.alert.alert-warning.alert-dismissable.text-center
		%span
			=flash[:notice]
			%a.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
				&times;