=form_for :user, {:controller => 'user', :action => 'signIn'} do |u|
	%div
		=u.label :userName
		=u.text_field :userName
		
		%br
		
		=u.label :password
		=u.text_field :password
		%br
		=u.submit "Log In"