=form_for :user , url:{:controller => 'user', :action => 'signUp'}, html: {class: "form-horizontal" } do |u|
	%div.form-group
		=u.label :userName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :userName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group	
		=u.label :firstName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :firstName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :lastName, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :lastName, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :password, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :password, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :streetAdress, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :streetAdress, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :city, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :city, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :town, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :town, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :contactNumber, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :contactNumber, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :secContactNumber, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :secContactNumber, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :email, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :email, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :yserType, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :yserType, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :organization, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :organization, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		=u.label :user_id, {:class => 'col-lg-2 control-label'}
		%div.col-lg-3
			=u.text_field :user_id, {:class => 'form-control', :id => 'inputEmail'}
	%div.form-group
		%div.col-lg-offset-2.col-lg-10
			=u.submit :class => 'btn btn-default'