
%br
%br
=link_to "Show All Company Included Routes", company_index_path, :class => "btn btn-primary"
|
=link_to "Show All Routes", company_showAll_path, :class => "btn btn-primary"
%br
-if @route.blank?
	%h4 Route Empty
-else
	%hr
	%h3
		Showing route details for
		%span.label.label-primary
			="#{@route.routeName}"
	%hr
	=form_for :route, url:{controller: "route", action: "update"}, html:{class: "form-horizontal"} do |f|
		%div.form-group
			=f.label :routeName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeName,{:class => 'form-control', :disabled => 'disabled', :value => @route.routeName}
		%div.form-group
			=f.label :routeSourceName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeSourceName, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeSourceName}
		%div.form-group
			=f.label :routeDestName, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeDestName, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeDestName}
		%div.form-group
			=f.label :routeDistance, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3	
				=f.text_field :routeDistance, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeDistance}
		%div.form-group
			=f.label :routeSourceLatLong, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeSourceLatLong, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeSourceLatLong}
		%div.form-group
			=f.label :routeDestLatLong, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeDestLatLong, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeDestLatLong}
		%div.form-group
			=f.label :routeTravelTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeTravelTime, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeTravelTime}
		%div.form-group
			=f.label :routeStartTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeStartTime, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeStartTime}
		%div.form-group
			=f.label :routeStopTime, {:class => 'col-lg-2 control-label'}
			%div.col-lg-3
				=f.text_field :routeStopTime, {:class => 'form-control', :disabled => 'disabled', :value => @route.routeStopTime}
	%hr
	%h3
		Bus Stop on route:
		%span.label.label-primary
			="#{@route.routeName}"
	%hr
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center 
				Bus Stop Name
		-@busStops.each do |b|
			-if(b.nil?)
				%tr
					%td
						%p Empty Object
					%td
					%td
			-else
				%tr
					%td
						=b.busStopName
 
