<div id="panel">

<label for="sourceInput" style="float: left;font-weight: bold;color: rgb(240, 215, 197);;font-size: large;padding-top: 5px;margin-left: 7px;
">Source&nbsp;&nbsp; </label>
    <input id="sourceInput" type="text" data-provide="typeahead" style="float: left;width: 120px; margin-top: 4px;]">
    <input id="sourceInputId" type="hidden"/>
&nbsp;&nbsp;
    <label for="destinationInput" style="float: left;font-weight: bold;color:rgb(240, 215, 197);;font-size: large;padding-top: 5px;
    ">&nbsp;&nbsp;Destination&nbsp;&nbsp; </label>
    <input id="destinationInput" type="text" data-provide="typeahead" style="float: left;width: 120px; margin-top: 4px;]">
	<input id="destinationInputId" type="hidden"/>
&nbsp;&nbsp;
	<!-- <br /> -->
	<button class="btn btn-info" type="button" onclick="getRouteInfo();" style="margin-top:4px;margin-right: 6px;" >
		Get Route
	</button>
	
	<!-- new code of search -->

	</div>
	<div id="map-canvas"></div>