/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */
body
{
	/*background-image:url(../images/bg.jpg);*/
	width:inherit;
	height:inherit;
	margin-top:auto;
	margin-bottom:auto;
	/*padding:10px;*/
	/*transform: scale(.5) rotate(360deg) translate(0px, 0px) skew(0deg, 0deg);*/

}

.header
{
	background-color:#FFF;
	min-width:950px;
	width:70%;
	height:72px;
	margin-left:auto;
	margin-right:auto;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;

	/*background-image:url(../images/headBack.jpg);*/
	/*background-repeat:no-repeat;*/



	/*box-shadow: 0px 6px 13px #444544;
	z-index:99999;*/
}

.topMenu
{/*#575757*/
	background-color:#06C;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-left:1px;
	margin-top:25px;
	padding:5px;
	min-width:100px;
	height:24px;
	float:left;
	border-radius:3px;
	text-align:center;

	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;


}

.topMenu:hover
{
	background-color:#06C;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-left:1px;
	margin-top:26px;
	padding:5px;
	min-width:100px;
	float:left;
	border-radius:3px;
	text-align:center;



	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.3;

}
.headLinks
{
	float:right;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right:10px;
	height:100%;
	font-size:11px;
}

.container
{
	min-width:480px;
	width:70%;
	/*min-height:60%;*/
	margin-left:auto;
	margin-right:auto;

	/*padding:10px;*/
	/*background-color:#0F0;*/

}

.content
{
	background-color:#FFF;
	width:100%;
	min-height:500px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	/*overflow:scroll;*/
	margin-top:0px;
	margin-bottom:auto;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.logoBar
{

	background-color:#FFF;
	min-width:49%;
	height:100%;
	/*border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;*/

}

.logoImg
{
	/*background-image:url(../images/Logo.jpg);*/
	height:inherit;
	border-bottom-left-radius:5px;
	float:left;
	background-color:inherit;


	/*zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.0;*/

}

.mainContent
{
	background-color:#FFF;
	float:left;
	height:100%;
	width:49.95%;
	/*border-top-right-radius:10px;
	border-bottom-right-radius:10px;*/

}

.pageHeading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:left;
	text-indent:0px;
	margin-top:5px;	
	color: #4D94DB;
}


.mainPageHead img
{
	float:right;
}

.mainProducts
{
	background-image:url(../images/bckgrd.jpg);
	float:left;
	border-right:2px dashed #444444;
	width:300px;
	min-height:400px;
	/*margin-top:100px;*/
	padding-top:100px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.separator
{
	background-image:url(../images/bg.jpg);
	height:0px;
	border:5px solid #000;
	width:100%;
	margin-right:auto;
	margin-left:auto;

}
.textField
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#444444;
}


a.noLink
{
	text-decoration:none;
	font-size:24px;
	color:#CCC;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.contactForm
{
	padding:5px;
}


.columnFormation
{
	float:left;
	min-width:40%;

}

span.textLabel
{
	display:block;
}

.center
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}




.contactForm input 
{
	width:250px;
	border:2px dotted #444444;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#EBEBEB;
}
.contactForm input:focus
{
	width:250px;
	border:2px dotted #FC6;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#FFF;
}

.contactForm input:hover
{
	width:250px;
	border:2px dotted #CCC;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#EBEBCC;
}

form textarea
{

	/*
	border-radius:5px;
	border:3px dotted #444444;
	background-color:#EBEBEB;
	*/

}

form textarea:focus
{

	border:3px dotted #444444;
	background-color:#FFF;
}
form textarea:hover
{
	/*
	border-radius:5px;
	border:3px dotted #444444;
	background-color:#EBEBCC;
	*/
}

form.contactForm label
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#444444;
}
.whiteGap
{
	margin:5px;
}

.reqiredField
{
	color:#F00;
	display:inline;
}

.ticker
{
	background-color:#558E06;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#CCC;


}

.headText
{
	font-family:'Varela Round', cursive;
	font-size:24px;
	font-style:normal;
}

.formStyle
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#444444;
}

.formStyle button
{
	min-width:100px;
	height:33px;
	font-size:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#444444;
	background-color:#EBEBEB;
	border-radius:5px;
}

.formStyle button:hover
{
	min-width:100px;
	height:33px;
	font-size:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
	background-color:#EBEBCC;
	border-radius:5px;
}
.marginLot
{
	margin-top:50px;
}

.formFieldSet21
{
/*	box-shadow:0px 0px 30px rgba(50, 50, 50, 0.45);*/
	border:none;
	background-color:#F3F2F2;
	padding:10px;
	min-height:220px;
	height:250px;
	min-width:550px;
	width:50%;

}
.formFieldSet
{
/*	box-shadow:0px 0px 30px rgba(50, 50, 50, 0.45);*/
	border:none;
	background-color:#F3F2F2;


}

.aboutSection
{
	margin-left:5px;
	margin-top:5px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:#F3F2F2;
	width:60%;
	font-size:11px;
	padding:10px;
	min-height:400px;

}

.mkzTeam
{
	float:left;
	margin-left:5px;
	margin-top:5px;
	float:left;
	width:35%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:#F3F2F2;
	font-size:11px;
	padding:10px;
	min-height:400px;

}

.productInfo
{
	float:left;
	margin-left:5px;
	margin-top:5px;
	min-width:600px;
	/*width:60%;*/
	/*height:inherit;*/
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:#F3F2F2;
	font-size:11px;
	padding:10px;
}



.productImg
{
	float:left;
	background-color:#F3F2F2;
}

.loginForm
{
	min-width:595px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.loginForm fieldset
{
	/*	width:50%;
	height:50%;*/
	margin-left:auto;
	margin-right:auto;
	background-color:#444444;
	background-image:url(../images/bg.jpg);
	border:none;
	border: 3px dotted #FFF;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:0px;
}

.loginForm .textField
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#FFF;
	font-style:normal;

}
.loginForm input 
{
	width:250px;
	border:2px dotted #444444;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#EBEBEB;
}
.loginForm input:focus
{
	width:250px;
	border:3px dotted #FC6;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#EBEBCC;
}

.loginForm input:hover
{
	width:250px;
	border:2px dotted #CCC;
	border-radius:5px;
	height:36px;
	font-size:24px;
	background-color:#EBEBCC;
}

.gap
{
	margin:20px;
	padding-bottom:15px;
}

.formHeading
{
	width:50%;
	min-width:550px;
	height:36px;
	margin-left:auto;
	margin-right:auto;
	background-color:#444444;
	background-image:url(../images/bg.jpg);	
	border:none;
	border: 3px dotted #FFF;
	border-bottom:0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	padding-left:20px;
}

.formHeadingText
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-style:normal;
	color:#FFF;
}
















#footer
{
	width:70%;
	min-width:480px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	background-color:inherit;
	border-top:1px solid #999;
	border-radius:5px;
	font-family: 'Stint Ultra Expanded', cursive;
}
.sitemap_sec
{
	height:auto;
	clear:both;
	background-color:#FFF;
	border-radius:7px;

}


.list_sitemap
{
	font-family: 'Stint Ultra Expanded', cursive;	
	color:#444444; 
	/*float:left;  */
	clear:both;
	text-align:center;
	background-color:#FFF;
	/*border-radius:7px;*/
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.vertical_links
{
	font-family: 'Stint Ultra Expanded', cursive;
	font-size:12px; 
	font-weight:normal; 
	list-style-type:none; 
	color:#444444;
	background-color:#FFF;
	border-radius:5px;

}

.sitemap-footer-col
{
	width:auto;
	font-family: 'Stint Ultra Expanded', cursive;
	list-style-type:none;
	font-size:11px;
	float:left;
	background-color:#FFF;
	border-radius:5px;
}

.footer-col-header
{
	width:auto;
	font-family: 'Stint Ultra Expanded', cursive;
	list-style-type:none;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	background-color:#FFF;
	border-radius:5px;

}
.footer-col-normal
{
	width:auto;
	font-family: 'Stint Ultra Expanded', cursive;
	list-style-type:none;
	font-weight:normal;
	font-size:12px;
	text-align:left;
	background-color:#FFF;
}

.no_underline
{
	text-decoration:none;
	color:#444444;
}
.white
{
	color:#000;
}

#real_footer
{
	/*clear:both;*/
	background-color:#FFF;
	color:#FFF;
	font-size:14px;
	text-align:center;
	/*padding:2px;
	margin-top:10px;*/
	font-family: 'Stint Ultra Expanded', cursive;
	border-radius:7px;
}

.no_vertical
{
	display:inline;
}



.nav_links
{
  /*background: #eee;*/
  background: -moz-linear-gradient(top, #820205 0%, #AB1101 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#820205), to(#AB1101));
  border: 3px solid #444444;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
	font-family: 'Droid Serif', "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  /*text-shadow: 0 1px 0 #eee;*/
  width:150px;
}


.nav_links:hover 
{
  background: #ddd;
  background: -moz-linear-gradient(top, #820205 300%, #282828 30%);
  background: -webkit-gradient(linear, 0% 0%, 0% 300%, from(#820205), to(#282828));
  border: 3px solid #444444;


  /*text-shadow: 0 1px 0 #ddd;*/
}

.nav_links:active
 {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 10px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
.action_button
{
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #CCC 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
	font-family: 'Droid Serif', "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width:35%;
  height:90px;
}

.action_button:hover 
{
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #bbb;
}

.action_button:active
 {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

a:hover 
{
	color:#4D94DB;
}

.space
{
	margin-top:15px;
}


.newLine
{
	display:block;
}	

.FormCat
{
	width:auto;
	height:24px;
	background-color:#4D94DB;

	padding-left:5px;

	border-radius:3px;
	/*zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.3*/;
}
.FormCatHeading
{
	color:#FFF;
	font-size:20px;
	font-style:normal;
	font-weight:100;
	font-family:Tahoma, Geneva, sans-serif;
}
.FormCat li
{
	list-style-type:square;
	color:#FFF;
	font-size:20px;
	font-style:normal;
	font-weight:100;
	font-family:Tahoma, Geneva, sans-serif;
}
.FormCat li h3
{

	/*padding:0px;
	margin:0px;*/
	/*line-height:0px;*/
}

.FormFill form fieldset
{
	border: none;
}

.FormFill form
{
	background-color:#F3F2F2;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}
.FormFill form fieldset
{
	background-color:#F3F2F2;
	padding:10px;
	border-radius:3px;
}

.FormFillSubmitBtn {
	background: url(../images/btn-get-my-cash-now-h.gif) no-repeat;
	width: 317px;
	height: 70px;
	padding: 0;
	margin: 8px;
	text-indent: -9999px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border: none;
	display: block;
	cursor: pointer;
}
.FormFillSubmitBtn:hover { background-position: 0 -71px; }

.copyright
{
	font-size:11px;
	color:#4D94DB;

}


.inTextLink
{
	text-decoration:none;
	color:#4D94DB;
}

.inTextLink:visited
{
	color:#4D94DB;
}
.inTextLink:hover
{
	color:#000;
}



.productInfo img
{
	margin:5px;
	border: 2px solid #4D94DB;
	float:left;
	width:150px; 
	height:190px;
} 














/*

User Styles

*/

.userBar
{
	background-color:#F3F2F2;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;

}
.rightAlign
{
	float:right;

}

.DashItem
{
	margin-right:5px;
}

.userBar li
{
	display:inline;
	margin-right:5px;
}

.package
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:#F3F2F2;
	font-size:13px;
	width:100%;
}

.package ul
{
	list-style-type:none;
}

.formSection
{
	border:none;
	line-height:25px;
}

.packageHalf
{

	background-color:#F3F2F2;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}

.packageHalf fieldset
{
	border:none;
}

.packageHeading
{

	padding-left:10px;
	height:24px;
	background-color:#4D94DB;
	list-style-type:none;
	border-radius:3px;
	font-size:14px;
}


.module
{
	float:left;
	min-width:450px;
	width:40%;
	margin-right:10px;
}

.FormSubmit
{
	height:35px;
	width:140px;
	background-color:#FFF;
	font-size:16px;
	color:4D94DB;
	font-family:Tahoma, Geneva, sans-serif;
	border-radius:5px;
}
.FormSubmit:hover
{
	height:35px;
	width:140px;
	background-color:#4D94DB;
	font-size:16px;
	color:FFF;
	font-family:Tahoma, Geneva, sans-serif;
	border-radius:5px;
}


.showError
{
	color:#4D94DB;
}

.container-section 
{
	float:left;
	width:50%;
	min-width:480px;
	padding:15px;
	background-color:inherit;
	min-height:300px;
	max-height:480px;
	height:50%;
	border-top:1px #CCC;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	position:relative;
	overflow:auto;
	margin-bottom:10px;

}

.clear-fix
{
	clear:both;
}

.boundry-right
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;	
}

.floating-body
{
	float:left;
}