/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */
.field_with_errors
{
}

.field_with_errors input
{
	padding: 2px;
	border-color: red;
	
	
}
.field_with_errors input:focus
{
	padding: 2px;
	outline: 0;
	border-color:red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  
}
.header 
{
	margin-top: 20px;
	background-color: #C9C9C9;
	opacity: 0.70;
	padding-top: 10px;
	border-radius:10px;
	margin-bottom:20px;
}
