// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom
{
	background-image: image-url("bg.png");
	background-repeat:y-repeat;
	background-position:center top;
}

.jumbotron
{
	opacity: 0.75;
	.container
	{
		opacity: 0.95;
	}
}

.btn 
{
	opacity: 1;
}

 