<!DOCTYPE html>
%html
	%head
		=render "shared/head"
	%body
		%div.container
			=render "shared/header"
			%div.container.well
				=render "shared/notices"
				= yield
		
		
			/ Footer Implementation
			=render "shared/footer"