<!DOCTYPE html>
%html
	%head
		%title RailsBoot
		/%link{:href => 'http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded',  :rel => 'stylesheet', :type => 'text/css'}
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		%div.container
			=render "shared/header"
			%div.container.well
				=render "shared/notices"
				= yield
		
		
			/ Footer Implementation
			=render "shared/footer"